<div class="row row-space">
    <div class="col-3">
		<nav class="nav flex-column">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Serviços</a>
            <a class="nav-link" href="#">Sobre</a>
            <a class="nav-link" href="#">Planos</a>
            <a class="nav-link" href="#">Contatos</a>
            <a class="nav-link" href="#">Sistemas</a>
        </nav>
	</div>
    <div class="col-6">
		<p class="footer-website">Copyright - Todos os direitos reservados | Desenvolvido por Wedisley Mateus</p>
	</div>
    <div class="col-3">

    </div>
</div>